body {
	font-family: sans-serif;
}

header {
	display: flex;
	justify-content: center;
}

header>form {
	margin-left: 2em;
}

main {
	display: flex;
	justify-content: center;
}

footer {
	text-align: center;
	margin-top: 20px;
}

#login-form .row {
	width: 100%;
	margin-bottom: 2px;
}

#login-form {
	width: 20%;
}
