body {
	font-family: sans-serif;
}

header {
	display: flex;
}

header>form {
}

main {
	display: flex;
	justify-content: center;
}

footer {
	text-align: center;
	margin-top: 20px;
}

form.row {
	width: 100%;
}

.login-form {
	width: 20%;
}
